<!DOCTYPE html>
<html lang="en">

<head>
    <title>Spamlibs - Spam meets Madlibs&trade;</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
body {
    padding-top: 60px;
}
@media (min-width:980px) {
    body { padding-top: 90px; padding-bottom: 40px; }
}
.seed-list li { list-style-type: none; padding-bottom: 1em; }
.body { margin: 0 75px; }
/*
.NN { color:red; }
.NNS { color: yellow; }
.NNP { color:orange; }
.JJ { color:gray; }
.CC, .CD { color: green; }
.PRP, .PRP\$ { color: blue; }
.DT { color: magenta; }
.VB, .VBD, .VBP, .VBZ, .VBG { color: purple; }
.IN, .TO, .\., .\,, .\:, .RB { color: #eeeeee; }
*/
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
                <a class="navbar-brand" href="/">Spamlibs</a>
                <ul class="navbar-nav">
                    <li><a href="/supply">Add New Spam</a></li>
                </ul>
                {% block menu %}{% endblock %}
                <ul class="navbar-nav">
                    <li><a href="{{ userurl }}">{% if user %}Logout {{ user.nickname }}{% else %}Login{% endif %}</a></li>
                </ul>
        </div>
    </nav>

{% block content %}{% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript">
$(document).ready(function() {
    $('.body span').popover();
    
    $('#do-rating').click(function(){
        var form = $('#rating-form'),
            opts = {
                url: form.attr('action'),
                method: form.attr('method'),
                data: { rating:form.find('input[name="rating"]').val() }
            },
            req = $.ajax(opts);
            
        req.done(function(data, jqxhr, txtstatus) {
            form.replaceWith('<div class="span6 alert alert-success">' +
                'Thanks for rating this spam! :)</div>');
        });
        
        req.fail(function(){
            form.replaceWith('<div class="span6 alert"><button type="button" ' +
                'class="close" data-dismiss="alert">×</button><strong>' +
                'Warning!</strong> Could not rate spam. :(</div>');
        });
        
        return false;
    });
});
    </script>
</body>
</html>
