{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>Add Original Spam</h2>

		<form method="post">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="title">Title</label>
                        <div class="col-sm-10">
                            <input type="text" id="title" name="title" class="form-control-lg" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input">Body</label>
                        <div class="col-sm-10">
                            <textarea class="form-control-lg" rows="10" name="input">{{ input }}</textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col col-1">
                            <input type="submit" class="btn btn-primary" value="Spam It!" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
