{% extends "base.html" %}

{% block menu %}
    {% if is_processed %}<ul class="navbar-nav">
        <li><a href="/view/{{ key }}">Original</a></li>
    </ul>{% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>{{ title }}</h2>

                <div class="body">
                    {% if is_processed %}<pre>{% endif %}{{ body|safe|linebreaks }}{% if is_processed %}</pre>{% endif %}
                </div>
            </div>
        </div>
        
        <div class="row">
            {% if is_processed %}
            <form id="rating-form" class="col-6" action="/rate/{{ key }}" method="post">
		<div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rating" id="inlineCheckbox1" value="1">
                    <label class="form-check-label">1</label>
		</div>
		<div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rating" id="inlineCheckbox2" value="2">
                    <label class="form-check-label">2</label>
		</div>
		<div class="form-check form-check-inline">
		    <input class="form-check-input" type="radio" name="rating" id="inlineCheckbox3" value="3">
		    <label class="form-check-label">3</label>
		</div>
		<div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rating" id="inlineCheckbox1" value="4">
                    <label class="form-check-label">4</label>
		</div>
		<div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rating" id="inlineCheckbox2" value="5">
                    <label class="form-check-label">5</label>
		</div>
                <input id="do-rating" class="btn btn-primary" type="submit" value="Rate"/>
            </form>
            {% else %}
            <div class="col-6">
                <p>This spam has an overall rating of {{ rating }}.</p>
            </div>
            {% endif %}
            
            <div class="col-6">
                <p>This spam has been viewed {{ views }} times.</p>
            </div>
        </div>
    </div>
{% endblock %}
