<!DOCTYPE html>
<html lang="en">

<head>
    <title>Spamlibs - Spam meets Madlibs&trade;</title>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
body { padding-top: 60px; padding-bottom: 40px; }
.seed-list li { list-style-type: none; padding-bottom: 1em; }
.body { margin: 0 75px; }
/*
.NN { color:red; }
.NNS { color: yellow; }
.NNP { color:orange; }
.JJ { color:gray; }
.CC, .CD { color: green; }
.PRP, .PRP\$ { color: blue; }
.DT { color: magenta; }
.VB, .VBD, .VBP, .VBZ, .VBG { color: purple; }
.IN, .TO, .\., .\,, .\:, .RB { color: #eeeeee; }
*/
    </style>
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">Spamlibs</a>
                {% block menu %}{% endblock %}
            </div>
        </div>
    </div>

{% block content %}{% endblock %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
$(document).ready(function() {
    $('.body span').popover();
    
    $('#do-rating').click(function(){
        var form = $('#rating-form'),
            opts = {
                url: form.attr('action'),
                method: form.attr('method'),
                data: { rating:form.find('input[name="rating"]').val() }
            },
            req = $.ajax(opts);
            
        req.done(function(data, jqxhr, txtstatus) {
            form.replaceWith('<div class="span6 alert alert-success">' +
                'Thanks for rating this spam! :)</div>');
        });
        
        req.fail(function(){
            form.replaceWith('<div class="span6 alert"><button type="button" ' +
                'class="close" data-dismiss="alert">×</button><strong>' +
                'Warning!</strong> Could not rate spam. :(</div>');
        });
        
        return false;
    });
});
    </script>
</body>
</html>