{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="hero-unit">
                    <h1>Spamlibs</h1>
                    <p>Spamlibs is a mashup of spam email and the mad-libs word game.<p>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <h2>Recent Spams</h2>

                <ol>
                    {% for spam in recent_spams %}
                    <li><a href="/seed/{{ spam.key }}">{{ spam.title }}</a></li>
                    {% endfor %}
                </ol>
                        
                {% if more %}
                <div class="row-fluid">
                    <div class="span2">
                        <a class="btn" href="/list/1?order=-date">More...</a>
                    </div>
                </div>
                {% endif %}
            </div>
            
            <div class="span4">
                <h2>Most Viewed Spams</h2>

                <ol>
                    {% for spam in viewed_spams %}
                    <li><a href="/seed/{{ spam.key }}">{{ spam.title }}</a></li>
                    {% endfor %}
                </ol>
        
                {% if more %}
                <div class="row-fluid">
                    <div class="span2">
                        <a class="btn" href="/list/1?order=-views">More...</a>
                    </div>
                </div>
                {% endif %}
            </div>
            
            <div class="span4">
                <h2>Most Popular Spams</h2>

                <ol>
                    {% for spam in popular_spams %}
                    <li><a href="/seed/{{ spam.key }}">{{ spam.title }}</a></li>
                    {% endfor %}
                </ol>
        
                {% if more %}
                <div class="row-fluid">
                    <div class="span2">
                        <a class="btn" href="/list/1?order=-rating">More...</a>
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}