{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="hero-unit">
                    <h1>Spamlibs</h1>
                    <p>Spamlibs is a mashup of spam email and the mad-libs word game.<p>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h2>Recent Spams</h2>

                <ol>
                    {% for spam in recent_spams %}
                    <li><a href="seed/{{ spam.key }}">{{ spam.title }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        
        {% if recent_more %}
        <div class="row-fluid">
            <div class="span2">
                <a class="btn" href="/list/1">More...</a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}