{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h2>Add Original Spam</h2>

                <form method="post" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="title">Title</label>
                        <div class="controls">
                            <input type="text" id="title" name="title" class="input-xxlarge" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="input">Body</label>
                        <div class="controls">
                            <textarea class="input-xxlarge" rows="10" name="input">{{ input }}</textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" class="btn span1" value="Spam It!" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}