<html>
<head>
<style type="text/css">
    .NN { color:red; }
    .NNS { color: yellow; }
    .NNP { color:orange; }
    .JJ { color:gray; }
    .CC, .CD { color: green; }
    .PRP, .PRP\$ { color: blue; }
    .DT { color: magenta; }
    .VB, .VBD, .VBP, .VBZ, .VBG { color: purple; }
    .IN, .TO, .\., .\,, .\:, .RB { color: #eeeeee; }
</style>
</head>
<body>
<h1>{% if is_processed %}Spamlibs!{% else %}Raw Email{% endif %}</h1>

<div class="title"><b>Title:</b> {{ title }}</div>

<div class="body">{% if is_processed %}<pre>{% endif %}{{ body|safe }}{% if is_processed %}</pre>{% endif %}</div>

[ <a href="/">Back to the list</a> ]
{% if is_processed %}
[ <a href="/view/{{ key }}">View original</a> ]
{% endif %}
</body>
</html>