{% extends "base.html" %}

{% block menu %}
    {% if is_processed %}<ul class="nav">
        <li><a href="/view/{{ key }}">Original</a></li>
    </ul>{% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h2>{{ title }}</h2>

                <div class="body">
                    {% if is_processed %}<pre>{% endif %}{{ body|safe|linebreaks }}{% if is_processed %}</pre>{% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}