{% extends "base.html" %}

{% block menu %}
    <ul class="nav">
        <li><a href="/">List</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h2>{{ title }}</h2>

                <form action="/seed/{{ key }}" method="POST">
                    <ul class="seed-list">
                        {% for lib in libs %}
                        <li>
                            <input type="text" name="{{ lib.key }}" class="input-large" />
                            <span class="help-block">{{ lib.description }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <input class="btn" type="submit"/> <input class="btn" type="reset"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}